<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{/saveBook}" th:object="${book}" method="post">
    <table border="1">
        <tr>
            <td><label th:text="#{msg.title}"/></td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td><label th:text="#{msg.author}"/></td>
            <td><input type="text" th:field="*{author}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>