<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<h1>Hello !</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>

<table>
    <tr>
        <td><a th:href="@{/addBook}" th:text="#{msg.AddBook}"/></td>
    </tr>
    <tr>
        <td><a th:href="@{/listBooks}" th:text="#{msg.ListBooks}"/></td>
    </tr>
</table>

</body>
</html>